html, body {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}

header {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url('../assets/background-hs.jpg');
  text-align: center;
  background-size: cover;
  position: relative;
  background-position: center;
}


header h1 {
  margin-top: 0;
  padding-top: 100px;
  color: white;
}

@media screen and (min-width: 1001px){
  header p {
    max-width: 600px;
    display: block;
    margin: 0 auto;
    font-size: 17px;
    color: white;
    line-height: 1.5;
    position: relative;
    top: 70px;
  }
}

@media screen and (max-width: 1000px){
  header p {
    max-width: 600px;
    display: block;
    margin: 0 auto;
    font-size: 14px;
    color: white;
    line-height: 1.5;
    position: relative;
    top: 70px;
  }

  header{
    padding: 10px;
  }
}

.scroll {
  position: absolute;
  bottom: 0;
  display: inline-block;
  color: #F29532;
}
.newsletter {
  margin-top: 140px;
}

header img {
  display: inline-block;
  margin-top: 50px;
  max-width: 100%
}

.sign-up {
  display: inline-block;
  padding: 13px 40px;
  background-color: #F29532;
  position: relative;
  top: 1px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 17px;
  border: none;
}

.input {
  outline: none;
  padding: 10px;
  border-radius: 0;
  color: black;
  border: 4px solid #F29532;
  background: rgba(255, 255, 255, 0.5);
}

/* Partie Main (Mathieu) */
main{
  width: 100%;
  background-color: white;
  padding-bottom: 100px;
  text-align: center;
}

main>.titre{
  margin-top: -2%;
  width: 100%;
  height: 80px;
  background-color: #DAD2C8;
  text-align: center;
  line-height: 80px;
}



.expliP{
  width: 90%;
  margin: auto;
  padding-left: 2%;
  margin-top: 10%;
  height: 40%;
}

.expli>img{
  width: 30%;
  display: block;
  margin: auto;
}

@media screen and (min-width: 1001px){
  .expli{
    width: 23%;
    margin-right: 2%;
    float: left;
    text-align: center;
    padding: 5px;
    color: #222222;
  }

  .titre>h1{
    line-height: 100px;
  }

  footer{
      width: 100%;
      background-color: #3D3D3D;
      text-align: center;
      position: fixed;
      bottom: 0px;
      padding: 7px;
  }

  .expliP{
    height: 220px;
  }

  .exemple>img{
  margin: auto;
  width: 28%;
}
}


@media screen and (max-width: 1000px){
  .expli{
    max-width: 400px;
    margin: 0 auto;
    padding: 5px;
    color: #222222;
  }
  .expliP{
    height: 170%;
  }
  footer{
     width: 100%;
  background-color: #3D3D3D;
  text-align: center;
    padding: 10px;
  }
.exemple>img{
    display: block;
  }

}
@media screen and (max-width: 1000px){
  .exemple img {
    height: 556px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .exemple img:first-of-type {
    margin-top: 0px !important;
  }

}

@media screen and (max-width: 720px){
  .scroll {
    display: none;
  }

  header {
    height: 100%;
  }

  .exemple>img{
  margin: auto;
  width: 250px;

}
}

main form{
  width: 300px;
  margin: auto;
  height: 30%;
}

main #mc_embed_signup{
  height: 20%;
}

.email{
  width: 300px;
  text-align: center;
  margin-bottom: 10px;
  border: #F29532 3px solid;
}

main .button{
  width: 200px;
  height: 35px;
  background-color: #F29532;
  border: #F29532 1px solid;
  font-size: 110%;
  display: block;
  margin: auto;
  color: white;
}

footer>ul>li{
  display: inline-block;
  list-style: none;
}

footer>ul>li>a{
  color: #F29532;
  text-decoration: none;
}

footer>ul>li>a:hover{
  color: #F29532;
}

footer a {
  font-size: 25px !important;
  padding: 5px;
  letter-spacing: 10px;
  color: rgba(255, 255, 255, 0.3) !important;
  transition: color 0.4s ease-in-out;
}

footer a:hover {
  color: rgba(255, 255, 255, 1) !important;
}

.button {
  cursor: pointer;
}

.last-mail {
  position: relative;
  bottom: 50px;
}

ul {
  margin: 0;
  padding: 0;
}

.scroll {
  font-size: 35px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  left: 47%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  line-height: 1.7;
  bottom: 60px;
}

header::after {
  content: " ";

}


.hidden {
  display: none;
}

.expli {
  text-align: center;
}

.last-mail {
  position: relative;
  top: 50px;
}

.titre {
  margin: 0;
}

.titre h1 {
  margin: 0 !important;
}

.exemple{
  text-align: center;
  letter-spacing: 30px;
}

.exemple>h1{
  letter-spacing: 2px
}

.suggestions {
  position: fixed;
  top: 185px; left: 32px;
  max-width: 255px;
  z-index: 9999;
  background-color: rgba(105, 105, 105, 0.5);
  text-align: center;
  color: white;
  padding: 10px;

}

.suggestions>a {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  text-transform: uppercase;
  background-color: #F29532;
  font-size: 12px;
  font-weight: 900;
}

@media screen and (max-width: 900px){
  .suggestions {
    top:356px !important;
  }
}


.expli p {
  font-size: 20px !important;
}
